*{
    margin:0;
    height:100%;
    border:0px;
}
.header {
    background-color:white;
    height:12%;
    width:screen;
   
}
.pop {
    display:grid;
    grid-column:50% 50%;
    height:10%;
}
.head {
    display:grid;
    grid-template-columns:50% 100px 100px 100px 60px 30px 100px 100px;
    grid-template-rows:50px 20px 100px;
    padding-top:20px;
    height:30%;
}
.material-symbols-outlined {
    font-size:28px !important;
    /* margin-right:100px !important; */
    padding-top:10px;
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 3, 'opsz' 24;
}
.material-symbols-outlined:hover {
font-size:34px !important;
gap:-30px;
cursor:pointer;
transition: font-size 0.3s ease;

}
img {
    margin-top:-55px;
    margin-left:400px;
    height: 170px;
    width:160px;
    object-fit: contain;
}
.first {
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start: 2;
    grid-column-end:3;
    font-size:small;
    

}
.first:hover{
  
    transition:font-size 1s;
}
.second {
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start: 3;
    grid-column-end:4;
    font-size:small;
}
.third {
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start: 4;
    grid-column-end:5;
    font-size:small;
}
.fourth {
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start: 5;
    grid-column-end:6;
    font-size:small;
    padding-left:6px;
}
.line {
    border-left: 2px solid rgb(121, 120, 120);
    height:46px;
    display:flex;
    justify-content: end;
    width:30px;
    margin-top:10px;
    margin-left:10px;
}
.join {
    width:90px;
    height:50px;
    border-radius:29px;
    font-size:medium;
    margin-top:7px;
    margin-left:16px;
    background-color:white;
    font-weight:700;
}
.signin {
    color:blue;
    border: 1px solid blue;
    width:90px;
    height:50px;
    border-radius:29px;
    font-size:medium;
    margin-top:7px;
    margin-left:16px;
    background-color:white;
}
.join-class .signin-class{
    display:flex;
    justify-content:end;
    
}
.join:hover{
    background-color:rgb(231, 226, 226);
    cursor:pointer;
}
.signin:hover {
    background-color:rgb(192, 212, 253);
    cursor:pointer;
}
.body {
    height:90%;
    display:grid;
    grid-template-columns:23% 34% 43% ;
}
.left {
    display:grid;
    grid-template-rows:20% 5% 10% 5% 7% 5% 10% 4% 10% 10%;
    justify-content:start;
}
.bigsize {
    font-size:52px;
    padding-top:30px;
    font-weight:200;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    color:#8f5849;
}
.email-heading {
    font:14px;
    font-weight:600;
    color:rgb(59, 59, 59);
    padding-top:15px;
}
.password-heading {
    font:14px;
    font-weight:600;
    color:rgb(59, 59, 59);
    padding-top:15px;
}
.boxy {
    border:1px solid black;
    height:50%;
    border-radius:6px;
    width:75%;
    font-size:large;
    padding-left:20px;
}
.boxy-2 {
    border:1px solid black;
    height:70%;
    border-radius:6px;
    width:75%;
    font-size:large;
    padding-left:20px;
}
.password {
    align-items:center;
    color:#0a66c2;
    padding-top:20px;
    font-weight:900;
    font-size:large;
    background-color:white;
    cursor:pointer;
}
.password:hover {
    text-decoration:underline;
}